.calendarHeaderContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 6px;
}

.calendarActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  &__container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }

  &__booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .bookableClasses {
      cursor: default;
      color: gray;
      text-decoration: none;
      font-size: 0.8rem;

      &.clickable {
        cursor: pointer;
        color: black;
        text-decoration: underline;
      }
    }
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #333;
}

.modal {
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.modal {
  padding: 1rem;
}
