$blue_primary: #414298;
$purple-accent: #9174b2;
$green-success: #65b72f;
$red-alert: #e84240;

$booked-background-color: #e7fbd9;
$booked-text-color: #2c6e01;
$canceled-background-color: #ffebe0;
$canceled-text-color: #d7590f;
$completed-background-color: #b5c4ab; // 60% something

$active-sidenav-menu: #5a5c99;
$gray-button: #d9d9d9;
