@import "../variables.module.scss";

// --- Header Part -----------------
.headerToolbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 0.7rem 0.5rem;
  gap: 15px;
}

.toolbarSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.calendarHeader {
  width: 28px;
  height: 28px;
  border: 5px solid $blue-primary;
  border-radius: 180px;
  color: white;
  background-color: $blue-primary;
}

.calendarHeader:hover {
  cursor: pointer;
}

.fcToolbarTitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.todayBtn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: $blue-primary;
  color: white;
  border-radius: 6px;
  font-weight: 400;
}

.active {
  background-color: #007bff;
  color: #fff;
}

// --- View Part ------------------------------
// -- Event blocks -----------
.eventBlock {
  color: white;
  white-space: nowrap;
  padding: 3px;
  display: flex;
  align-items: center;
}

.eventTime {
  font-size: 12px;
  margin-right: 5px;
  font-weight: 400;
}

.eventTitle {
  font-size: 14px;
  font-weight: 400;
}

.instructorIcon {
  border-radius: 50%;
  border: 1.5px solid white;
  margin-right: 5px;
}

.classStatusIconContainer {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

// -- Holiday cells ---------------------------
.holidayCell {
  background-color: #f9f4f1;
}

.holidayDateNumber {
  color: #997676;
}

.eventBlock {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
