// --- Header Part -----------------
.headerToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.toolbarSection {
  display: flex;
  gap: 0.5rem;
}

.fcButton {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #000;
}

.fcToolbarTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.active {
  background-color: #007bff;
  color: #fff;
}

.icon {
  width: 15px;
  height: 15px;
  color: #000;
}

// --- View Part ------------------------------
// -- Event blocks -----------
.eventBlock {
  color: white;
  white-space: nowrap;
}

.eventBlock .eventTime {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  font-family: serif;
  margin-right: 5px;
}

.eventBlock .eventTitle {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}

// -- Holiday cells ---------------------------
.holidayCell {
  background-color: #f9f4f1;
}

.holidayDateNumber {
  color: #997676;
}

.eventBlock {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
