.sideNavContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1rem; 
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 

}

.innerContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 0.5rem; 

}

// ---------------------------------------
.link {
  display: flex;
  height: 48px;
  width: 100%;
  // flex-grow: 1;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem; 
  background-color: #f9fafb; 
  padding: 0.75rem; 
  font-size: 0.875rem; 
  font-weight: 500; 
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none;

  &:hover {
    background-color: #e0f2fe; 
    color: #0284c7; 
  }
}

.icon {
  width: 1.5rem; 
}

.linkText {
  display: block;
}

.active {
  background-color: #e0f2fe; 
  color: #0284c7; 
}
