.formContainer {
  background-color: #f9fafb;
  padding: 1rem;
  border-radius: 0.375rem;
}

.field {
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
}

.inputField {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  font-size: 0.875rem;
  outline-width: 2px;
  ::placeholder {
    color: #6b7280;
  }
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.icon {
  pointer-events: none;
  position: absolute;
  left: 0.75rem;
  top: 50%;
  height: 1.125rem;
  width: 1.125rem;
  transform: translateY(-50%);
  color: #6b7280;
}

.label {
  &__text {
    margin-bottom: 3px;
  }
  &__details {
    font-weight: normal;
  }
}
