@import "../../../variables.module.scss";

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #333;
}

.container {
  padding: 30px;
  border: 1px solid $gray-background;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;

  .pic {
    padding: 1rem;
    width: 150px;
    height: 150px;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

.insideContainer {
  background-color: #f9fafb;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.urlInfo {
  display: flex;
  font-size: 0.8rem;
}

.url {
  color: $blue_primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.info {
  font-size: 0.8rem;
}
