.link {
  display: flex;
  height: 2.5rem;
  align-items: center;
  border-radius: 0.375rem;
  background-color: green;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  transition: background-color 0.2s ease;
  text-decoration: none;
  width: 160px;

  &:hover {
    background-color: rgb(6, 82, 6);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba(6, 82, 6, 0.5);
  }
}

.icon {
  height: 1.25rem;
  margin-left: 0.75rem;
}
