.headerMessage {
  margin-top: 15px;
  margin-bottom: 15px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #333;
}

.instructorName {
  font-size: 1.2rem;
  font-weight: 600;
}
